body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1e293b; /* Un colore scuro stile dashboard */
  color: white;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}